/* Install OpenProps */
@import "https://unpkg.com/open-props";





/* Diagnostic Styling */
/* * {
  outline: 2px dotted gray;
}  */


/* temp background color */
body {
    /* background: var(--gradient-26); */
    background-image: url("sunset-background.jpg");
background-size: cover;
  }

  section:hover {
    animation: var(--animation-fade-in) 1s;
  }

  main {
    font-family: poppins;
    font-weight: 500;
    color: white;
  }

 .feature-1, .feature-3 {
    color: white;
  }
  
  .feature-3 {
    background: var(--gradient-15);
  }
  